<!--
==================================================
block - Carousel Slider
==================================================
-->
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class="btn btn-light"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./images/background.jpg" alt="carousel 1" width="100%" />
      <div class="container">
        <div class="carousel-caption text-start text-light">
          <h1>The Art of Abstract</h1>
          <p class="opacity-75">
            The Roux Academy gets thousands of submissions every year for artists interesting in
            participating in the CAC exhibits, and selects approximately 200 distinct pieces of
            contemporary art for display in their collective exhibit.
          </p>
          <p>
            <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./images/background2.jpg" alt="carousel 2" width="100%" />
      <div class="container">
        <div class="carousel-caption text-light">
          <h1>Art in Full Bloom</h1>
          <p>
            Each Featured Artist has an opportunity to speak at one of our meetups and share his or
            her vision, perspective, and techniques with attendees on a more personal level than at
            our large conference.
          </p>
          <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./images/background3.jpg" alt="carousel 3" width="100%" />
      <div class="container">
        <div class="carousel-caption text-end text-light">
          <h1>Deep Sea Wonders</h1>
          <p>
            CAC Featured Artist and many past students artists who were featured at CAC have gone on
            to brilliant careers in art.
          </p>
          <p>
            <a class="btn btn-lg btn-primary" href="#">Browse gallery</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev btn btn-primary opacity-25"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next btn btn-primary opacity-25"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--
==================================================
endblock - Carousel Slider
==================================================
-->
